<div class="pagetitle">
    <h1>Problemas</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Catálogos</li>
            <li class="breadcrumb-item active">Problemas</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <form autocomplete="off" class="col-12">
                        <div class="botonera">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop" *ngIf="this.permisos.escritura.status">Nuevo</button>
                            <button class="btn btn-primary" (click)="consultaProblemas()">Consultar</button>
                            <button class="btn btn-primary" disabled="true">Excel</button>
                            <button class="btn btn-danger" [disabled]="activarBotonLimpiar()" (click)="limpiarTabla()">Limpiar</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card recent-sales overflow-auto" style="max-height: 570px;">
                <div class="card-body">
                    <h5 class="card-title">
                        Problemas
                    </h5>

                    <div class="col-12">
                        <div class="form-floating">
                            <input
                                type="text"
                                class="form-control"
                                id="floatingName"
                                placeholder="Buscar Problema"
                                [(ngModel)]="busqueda"
                                (input)="filtrarProblemas()"
                                [disabled]="activarFiltroBusqueda()"
                                autocomplete="off"
                            >
                            <label for="floatingName">Buscar problema</label>
                        </div>
                    </div>

                    <br>

                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Problema</th>
                                <th scope="col">Descripción</th>
                                <th scope="col" style="text-align: center;">Activo</th>
                                <th scope="col" style="text-align: center;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let problema of this.problemasFiltrados">
                                <th scope="row"><a>#{{problema.PkCatProblema}}</a></th>
                                <td>{{problema.TituloProblema}}</td>
                                <td>{{problema.DescripcionProblema}}</td>
                                <td style="text-align: center;">
                                    <span class="badge bg-{{problema.Activo == 1 ? 'success' : 'danger'}}">
                                        {{problema.Activo == 1 ? 'Activo' : 'Incativo'}}
                                    </span>
                                </td>
                                <td style="text-align: center;">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                          Opciones
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#disablebackdrop" (click)="consultaDatosProblemaModificacion(problema.PkCatProblema)">Módificar</button></li>
                                          <li *ngIf="this.permisos.modificacion.status"><button class="dropdown-item" type="button">Inactivar</button></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <h5 *ngIf="!modificacionProblema" class="modal-title" style="text-align: center !important; margin-bottom: 45px;"><b>Nuevo Problema</b></h5>
                <h5 *ngIf="modificacionProblema" class="modal-title" style="text-align: center !important; margin-bottom: 45px;"><b>Modificar Problema</b></h5>

                <div class="card">
                    <div class="card-body">
                        <br>
                        <div class="d-flex align-items-center">
                            <form class="row g-3 col-12" autocomplete="off" [formGroup]="formNuevoProblema">

                                <input type="hidden" formControlName="pkCatProblema">

                                <div class="col-md-12">
                                    <label for="tituloProblema" class="form-label">Título del problema <b style="color: brown;">*</b>:</label>
                                    <input formControlName="tituloProblema" type="text" class="form-control" id="tituloProblema" placeholder="Título del problema" (keypress)="this.funcionGenerica.soloLetras($event)" maxlength="255">
                                </div>
                
                                <div class="col-md-12">
                                    <label for="descripcionProblema" class="form-label">Descripción del problema:</label>
                                    <textarea formControlName="descripcionProblema" type="text" class="form-control" id="descripcionProblema" placeholder="Descripción del problema" (keypress)="this.funcionGenerica.soloTexto($event)"></textarea>
                                </div>
                
                                <div class="col-12">
                                    <label for="observacionesProblema" class="form-label">Observaciones:</label>
                                    <textarea formControlName="observacionesProblema" class="form-control" id="observacionesProblema" style="height: 65px" placeholder="Observaciones" (keypress)="this.funcionGenerica.soloTexto($event)"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="text-align: center;">
                <button *ngIf="this.permisos.escritura.status && !modificacionProblema" type="button" class="btn btn-primary" (click)="crearRegistroProblema()"><b>Crear nuevo problema</b></button>
                <button *ngIf="this.permisos.modificacion.status && modificacionProblema" type="button" class="btn btn-primary" (click)="modificarProblema()"><b>Modificar población</b></button>
                <button type="button" class="btn btn-danger" #cerrarModal data-bs-dismiss="modal" (click)="limpiarFormulario()"><b>Cancelar</b></button>
            </div>
        </div>
    </div>
</div>