<div class="pagetitle">
    <h1>Consulta Usuarios</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Usuarios</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Filtros de Consulta</h5>
                    <div class="d-flex align-items-center">
                        <form autocomplete="off" class="col-12">
                            <div class="col-xl-4 col-md-12" *ngIf="opcionesMultiselect.length > 0">
                                <label for="filtroRol" class="form-label">Rol(es):</label>
                                <div class="selectpicker">
                                    <div class="selectpicker-header" (click)="activaLista()">
                                        <div>{{rolesSeleccionados.length > 0 ? tituloSelect : 'Selecciona una opción'}}</div>
                                        <div class="selectpicker-caret"></div>
                                    </div>
                                    <div class="selectpicker-options" [hidden]="!mostrarOpciones">
                                        <div class="selectpicker-option" *ngFor="let option of opcionesMultiselect" (click)="seleccionarOpcion(option.PkCatRol)">
                                            <span>{{option.NombreRol}}</span>
                                            <div class="selectpicker-check" *ngIf="rolesSeleccionados.includes(option.PkCatRol)">&#10003;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <section class="row">
                                <div class="col-xl-2 col-md-4">
                                    <label class="form-label">&nbsp;</label>
                                    <button class="btn btn-primary form-control" (click)="consultaUsuariosPorRoles()"><b>Consultar</b></button>
                                </div>

                                <div class="col-xl-2 col-md-4">
                                    <label class="form-label">&nbsp;</label>
                                    <button class="btn btn-primary form-control" disabled="true"><b>Exportar excel</b></button>
                                </div>

                                <div class="col-xl-2 col-md-4">
                                    <label class="form-label">&nbsp;</label>
                                    <button class="btn btn-danger form-control" [disabled]="activarBotonLimpiar()" (click)="limpiarTabla()"><b>Limpiar</b></button>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <div class="col-12">
                        <br>
                        <div class="form-floating">
                            <input
                                type="text"
                                class="form-control"
                                id="floatingName"
                                placeholder="Buscar en empleados"
                                [(ngModel)]="busqueda"
                                (input)="filtrarUsuarios()"
                                [disabled]="activarFiltroBusqueda()"
                            >
                            <label for="floatingName">Buscar Usuario</label>
                        </div>
                    </div>
                    <h5 class="card-title">Usuarios</h5>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Empleado</th>
                                <th scope="col">Sexo</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Domicilio</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of this.usuariosFiltrados">
                                <th scope="row"><a [routerLink]="['modificacion',usuario.PkTblUsuario]">#{{usuario.PkTblUsuario}}</a></th>
                                <td>{{usuario.Nombre+' '+usuario.ApellidoPaterno}}</td>
                                <td>{{usuario.Sexo}}</td>
                                <td>{{usuario.Telefono}}</td>
                                <td>{{usuario.Calle+', '+usuario.NombrePoblacion}}</td>
                                <td>{{usuario.Correo}}</td>
                                <td><span class="badge bg-{{usuario.ActivoUsuario == 1 ? 'success' : 'danger'}}">{{usuario.ActivoUsuario == 1 ? 'Activo' : 'Incativo'}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>