<div class="pagetitle">
    <h1>Poblaciones</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Catálogos</li>
            <li class="breadcrumb-item active">Poblaciones</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <form autocomplete="off" class="col-12">
                        <section class="row">
                            <div class="col-xl-2 col-md-4">
                                <label class="form-label">&nbsp;</label>
                                <button class="btn btn-primary form-control" (click)="consultaPoblaciones()">Consultar</button>
                            </div>

                            <div class="col-xl-2 col-md-4">
                                <label class="form-label">&nbsp;</label>
                                <button class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#disablebackdrop">Nueva Población</button>
                            </div>

                            <div class="col-xl-2 col-md-4">
                                <label class="form-label">&nbsp;</label>
                                <button class="btn btn-primary form-control" disabled="true">Exportar excel</button>
                            </div>

                            <div class="col-xl-2 col-md-4">
                                <label class="form-label">&nbsp;</label>
                                <button class="btn btn-danger form-control" [disabled]="activarBotonLimpiar()" (click)="limpiarTabla()">Limpiar</button>
                            </div>
                        </section>
                    </form>
                </div>
            </div>

            <div class="card recent-sales overflow-auto" style="max-height: 570px;">
                <div class="card-body">
                    <h5 class="card-title">
                        Poblaciones
                    </h5>

                    <div class="col-12">
                        <div class="form-floating">
                            <input
                                type="text"
                                class="form-control"
                                id="floatingName"
                                placeholder="Buscar Población"
                                [(ngModel)]="busqueda"
                                (input)="filtrarPoblaciones()"
                                [disabled]="activarFiltroBusqueda()"
                                autocomplete="off"
                            >
                            <label for="floatingName">Buscar Población</label>
                        </div>
                    </div>

                    <br>
                    
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Población</th>
                                <th scope="col" style="text-align: center;">Código Postal</th>
                                <th scope="col" style="text-align: center;">Activo</th>
                                <th scope="col" style="text-align: center;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let poblacion of this.poblacionesFiltradas">
                                <th scope="row"><a>#{{poblacion.PkCatPoblacion}}</a></th>
                                <td>{{poblacion.NombrePoblacion}}</td>
                                <td style="text-align: center;">{{poblacion.CodigoPostal}}</td>
                                <td style="text-align: center;">
                                    <span class="badge bg-{{poblacion.Activo == 1 ? 'success' : 'danger'}}">
                                        {{poblacion.Activo == 1 ? 'Activo' : 'Incativo'}}
                                    </span>
                                </td>
                                <td style="text-align: center;">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                          Opciones
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#disablebackdrop" (click)="consultaDatosPoblacionModificacion(poblacion.PkCatPoblacion)">Módificar</button></li>
                                          <li><button class="dropdown-item" type="button">Inactivar</button></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h5 *ngIf="!modificacionPoblacion" class="modal-title" style="text-align: center !important;"><b>Nueva Población</b></h5><br>
                <h5 *ngIf="modificacionPoblacion" class="modal-title" style="text-align: center !important;"><b>Modificar Población</b></h5><br>

                <div class="card">
                    <div class="card-body">
                        <br>
                        <div class="d-flex align-items-center">
                            <form class="row g-3 col-12" autocomplete="off" [formGroup]="formNuevaPoblacion">

                                <input type="hidden" formControlName="pkCatPoblacion">

                                <div class="col-md-6">
                                    <label for="nombrePoblacion" class="form-label">Nombre de la población <b style="color: brown;">*</b>:</label>
                                    <input formControlName="nombrePoblacion" type="text" class="form-control" id="nombrePoblacion" placeholder="Nombre de la población" (keypress)="this.funcionGenerica.soloLetras($event)" maxlength="255">
                                </div>
                
                                <div class="col-md-6">
                                    <label for="cpPoblacion" class="form-label">Código Postal <b style="color: brown;">*</b>:</label>
                                    <input formControlName="cpPoblacion" type="text" class="form-control" id="cpPoblacion" placeholder="Código Postal" (keypress)="this.funcionGenerica.soloNumeros($event)" maxlength="5">
                                </div>
                
                                <div class="col-12">
                                    <label for="observacionesPoblacion" class="form-label">Observaciones:</label>
                                    <textarea formControlName="observacionesPoblacion" class="form-control" id="observacionesPoblacion" style="height: 65px" placeholder="Observaciones" (keypress)="this.funcionGenerica.soloTexto($event)"></textarea>
                                </div>

                                <div class="col-12" style="text-align: center;">
                                    <button *ngIf="!modificacionPoblacion" type="button" class="btn btn-primary" (click)="crearRegistroPoblacion()"><b>Crear nueva población</b></button>
                                    <button *ngIf="modificacionPoblacion" type="button" class="btn btn-primary" (click)="modificarPoblacion()"><b>Modificar población</b></button>
                                    <button type="button" class="btn btn-danger" #cerrarModal data-bs-dismiss="modal" (click)="limpiarFormulario()"><b>Cancelar</b></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>